body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
h1 {
  text-align: center;
  margin-top: 20px;
}
  
#horse-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.horse-card {
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.horse-name {
  font-size: 24px;
}

.horse-odds {
  font-size: 32px;
}

.horse-delete {
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
}